Contours_backups
*vs10

ContoursDefiner/Debug
ContoursDefiner/ContourTests
ContoursDefiner/packages
ContoursDefiner/ContoursDefiner.sdf
ContoursDefiner/ContoursDefiner.opensdf
ContoursDefiner/ContoursDefiner.sln
ContoursDefiner/ContoursDefiner.suo
ContoursDefiner/ipch
ContoursDefiner/.vs
ContoursDefiner/x64

ContoursDefiner/ContoursDefiner/x64
ContoursDefiner/ContoursDefiner/Debug
ContoursDefiner/ContoursDefiner/Interface
ContoursDefiner/ContoursDefiner/Pics
ContoursDefiner/ContoursDefiner/Release
ContoursDefiner/ContoursDefiner/Source

ContoursDefiner/ContoursDefiner/ERInterface.*
ContoursDefiner/ContoursDefiner/ERStart.cpp

ContoursDefiner/ContoursDefiner/framework.h
ContoursDefiner/ContoursDefiner/pch*
ContoursDefiner/ContoursDefiner/ContoursDefiner.aps
ContoursDefiner/ContoursDefiner/ContoursDefiner.def
ContoursDefiner/ContoursDefiner/ContoursDefiner.idc
ContoursDefiner/ContoursDefiner/ContoursDefiner.opt
ContoursDefiner/ContoursDefiner/ContoursDefiner.plg
ContoursDefiner/ContoursDefiner/ContoursDefiner.opensdf
ContoursDefiner/ContoursDefiner/ContoursDefiner.vcxproj*
ContoursDefiner/ContoursDefiner/ReadMe.txt